*.iml
.gradle
/local.properties
.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/icon.png
!.idea/vcs.xml
!.idea/dictionaries
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.zip
*.tar.gz
*.rar
*.log
build/
/*/build/
bin/
gen/
out/
